
body {
    background-color: rgb(70, 70, 189);
    height: 100%;
}

* {    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gallery {
    display: flex;
    height: 100vh;
    width: 100vw;
}


.thumbnails img {
    object-fit: cover;
    height: 6rem;
    width: 100%;
    cursor: pointer;
}



.thumbnails {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
    width: 11rem;

}

#bigDisplay {
    height: 100vh;
    width: 100vw;
}

#bigDisplay img {
    display: flex;

    height: 100vh;
    width: 100%;
    object-fit: cover;
}




/* 

@media (min-width: 100vw) and (max-width: 800px) {

    .gallery img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        }

        
}


/* @media (min-width: 800px) and (max-width: 100%) {

    .thumbnails {
        height: 100vh;
    }
} */ 