* {    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.thumbnails-container {
    display: flex;
    justify-content: space-between;
    width: 70vw;
    background-color: rgb(0, 0, 0);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    margin-inline: auto;
    overflow-y: auto;
    
}

.thumbnails {
    width: 15vw; 
    height: 7vh;
    object-fit: cover;

}

.big-display {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    overflow: hidden;
}

.bigImage {
    height: 100vh;

    overflow: hidden;

}

@media (width < 425.5px) {
    .thumbnails-container {
        bottom: 50px;
    }
}

@media (width < 1040.5px) {
    .thumbnails-container {
        bottom: 50px;
    }

    .big-display {
        background-color: aqua;
    }

    .big-display img {
        object-fit: cover;
        width: 100vw;
    }
}

