
body {
    background-color: rgb(0, 0, 0);
    height: 100%;
}

* {    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gallery {
    display: flex;
    height: 100vh;
    width: 100vw;
}


.thumbnails img {
    object-fit: cover;
    height: 6rem;
    width: 100%;
    cursor: pointer;
}


/* the container */
.thumbnails {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto; 
/* content exeeds size of viewport, scroll, dont spill */
/* overflow: scroll; */
    width: 11rem;
}

/* trying this in JavaScript */



.thumbnails:hover ~ #bigDisplay img {
    filter: brightness(0.6) blur(4px);
}

#bigDisplay {
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

#bigDisplay img {
    display: flex;
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.bigDisplay {
        transition: 0.3s ease;
}

.search-container:hover ~ .gallery .bigDisplay {
   filter: brightness(0.6) blur(4px);
}


.search-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 4rem;
}

#searchInput {
    height: 20px;
    width: auto;

    padding: 1rem;
    position: absolute;
    width: 40%;
    top: 38rem;
    border: none;
    background-color: rgba(247, 245, 245, 0.9);
}

img {
    transition: all 0.3s;
}

.gallery .thumbnails img:hover {
    transform: scale(1.06);
}





/* 
@media (min-width: 100vw) and (max-width: 800px) {

    .gallery img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        }

        
} */


/* @media (min-width: 800px) and (max-width: 100%) {

    .thumbnails {
        height: 100vh;
    }
} */ 