* {    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.thumbnails-container {
    display: flex;
    width: 70vw;
    background-color: rgb(0, 0, 0, 0.6);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    margin-inline: auto;
    overflow-y: auto;
    padding: 10px;
    
}

.thumbnails {
    width: 15vw; 
    height: 7vh;
    object-fit: cover;

}

/* .searchbar {

} */

.big-display {
    display: flex;
    height: 100vh;
    width: 100vw; 
    background-color: rgb(0, 0, 0);
    justify-content: center;
    overflow: hidden;
}

.bigImage {
    height: 100vh;
    overflow: hidden;

}

.searchbar {
    padding: 10px;
    top: 80vh;
    width: 200px;
    height: 20px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgb(230, 207, 178, 0.5);
}


@media (width < 450px) {

    .thumbnails-container {
        position: absolute;
        bottom: 50px;
        width: 100vw;
        overflow-y: auto;
        left: 0;
        right: 0;
        margin: auto;
        padding: 0;
    }

    .thumbnails {
        display: flex;
        height: auto;
        width: 13vw;
        justify-content: space-between;
    }

    .searchbar {
        top: 50px;
    }
} }
/* WHY DOES THIS BREAK MY CODE IF DELETED? */

@media (width < 800px) {

    .thumbnails-container {
        bottom: 50px;
        width: 45vw;
        height: auto;
        gap: 12px;
        overflow-y: auto;
    }

    .thumbnails {
        object-fit: cover;
        width: 40px;
        height: 40px;
        overflow: hidden;
    }

    .big-display {
        object-fit: cover;
        width: 100vw;
    }

    .thumbnails:hover {
        filter:opacity(0.6);
        cursor: pointer;
    }

}

